<!DOCTYPE html>
<html>
<head>
  <title>Top 10 Questions to Ask Your Lender</title>
<%= stylesheet_link_tag "application-all", :media => "all" %>
<%= stylesheet_link_tag "application-print", :media => "print" %>
<%= stylesheet_link_tag "application-mobile", :media => "mobile" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

</head>
<body class="popups">
<div id="header_popups">
	<img src="/assets/text/calculator.png" class="popup"/>
</div>
<div class="calc_body">
</head>

<body onload=";setTextFocus();UpdateFiles()">
	<h4 class="calc_heading" style="font-size:30px;">the true cost of borrowing</h4>  
		<p class="calc_text">So often, entrepreneurs and their advisors look only at the interest rate to determine the cost of borrowing. 
		What they really should be looking at is the benefit to the company of that borrowing. </p>
		<p class="calc_text">In making comparisons between lenders, if <i>ALL ELSE</i> 
		is identical, then of course choose the lender offering the lower rate. But, if you have a line of credit from a bank, you may be able 
		to get a higher return by replacing or supplementing the bank line with a line from another lender, even at higher rates. To test the 
		impact, we have devised the calculator below.</p>
	
<hr width="700px"/>
<div id="calculator_open"><a href="javascript:void(0);" onclick="PopupCalc('/calculator', 'myPop1',800,1000);" style="font-size:11px;"><img src="/assets/calculator1.png"><br>Click to Open</a>	
</div>	
	
	
</body
</html>