<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Gerber Finance Inc.</title>
    <%= stylesheet_link_tag "application-mobile" %>
	<%= javascript_include_tag "application-mobile" %>
	<%= csrf_meta_tags %>
  </head>
 <body>
	<div id="header"><img src="/assets/Logo.png" class="logo" alt="logo"/>
	<img src="/assets/gerberfinance.png" alt="gerberfinance"/></div>
	
<div id="AccordionContainer" class="AccordionContainer">

  <div onclick="runAccordion(1);">
    <div class="AccordionTitle" onselectstart="return false;">
      about us
    </div>
  </div>
  <div id="Accordion1Content" class="AccordionContent">
    Founded in 1995 by Gerald Joseph, Gerber Finance is the product of a joint venture between 
	<img src="/assets/investec.png" value="Investec">, a member of the London Stock Exchange and the 
	<img src="/assets/ggg.png" value="Gerber Goldschmidt Group">, a leading international trading 
	and investment company since 1921.<br>
	
	We provide businesses with credit lines from $500,000 to $10 million and specialize in financing
	the growth of importers, distributors and manufacturers across a wide range of industries. Our 
	goal is your long-term success, so we help you simultaneously increase your bottom line and 
	build infrastructure to achieve enduring, profitable growth.
  </div>

  <div onclick="runAccordion(2);">
    <div class="AccordionTitle" onselectstart="return false;">
      client testimonials
    </div>
  </div>
  <div id="Accordion2Content" class="AccordionContent">
			<p>Current Clients</p>
			<img class="thumbnail" src="/assets/video_thumbs/drew_estate.png" alt="Drew Estates"/>
  			<img class="thumbnail" src="/assets/video_thumbs/schofield.png" alt="Schofield"/>
  			<img class="thumbnail" src="/assets/video_thumbs/paramount.png" alt="Paramount"/>
  			<img class="thumbnail" src="/assets/video_thumbs/pilgrim.png" alt="Pilgrim"/>

			<p>Previous Clients</p>
			<img class="thumbnail" src="/assets/video_thumbs/le_mystere.png" alt="Le Mystere"/>
  			<img class="thumbnail" src="/assets/video_thumbs/thro.png" alt="Thro"/>
  			<img class="thumbnail" src="/assets/video_thumbs/ocean_potion.png" alt="Ocean Potion"/>
  </div>

  <div onclick="runAccordion(3);">
    <div class="AccordionTitle" onselectstart="return false;">
      get inside your lender's head
    </div>
  </div>
  <div id="Accordion3Content" class="AccordionContent">
    I Am Accordion 3.
  </div>

  <div onclick="runAccordion(4);">
    <div class="AccordionTitle" onselectstart="return false;">
      contact us
    </div>
  </div>
  <div id="Accordion4Content" class="AccordionContent">
    I Am Accordion 4.
  </div>

  <div onclick="runAccordion(5);">
    <div class="AccordionTitle" onselectstart="return false;">
      ??
    </div>
  </div>
  <div id="Accordion5Content" class="AccordionContent">
    I Am Accordion 5.
  </div>

</div>
  <% if mobile_device? %>
    <%= link_to "Full Site", :mobile => 0 %>
  <% else %>
    <%= link_to "Mobile Site", :mobile => 1 %>
  <% end %>
  
 <%= render :partial => ‘layouts/ga’ if RAILS_ENV == ‘production’ %>

  </body>
</html>

