<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag "application-handheld" %>
	<%= javascript_include_tag "application-handheld" %>
  </head>
 <body>
	<div><img src="/assets/Logo.png" class="logo" alt="logo"/>
	</div>
	<div><img src="/assets/gerberfinance.png" alt="gerberfinance"/></div>
	<div>
		<ul>
			<li><button>About Us</button></li>
			<li><button>Client Testimonials</button></li>
			<li><button>Inside Your Lender's Head</button></li>
			<li><button>Contact Us</button></li>
		</ul>
		
	</div>
    
      <%= yield %>
      <% if mobile_device? %>
    <%= link_to "Full Site", :mobile => 0 %>
  <% else %>
    <%= link_to "Mobile Site", :mobile => 1 %>
  <% end %>
    </div>
  </body>
</html>