<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/assets/favicon.ico">	
  <title>Gerber Finance</title>
  	
	<%= stylesheet_link_tag "application-all", :media => "all" %>
	<%= stylesheet_link_tag "application-print", :media => "print" %>
	<%= javascript_include_tag "application-all", :media => "all" %>
	<%= csrf_meta_tags %>
	<meta name="keywords" content="<%= meta_keywords %>" /> 
	<meta name="description" content="<%= meta_description %>" />
	<meta name = "viewport" content = "user-scalable = no">
	<%= analytics_init if Rails.env.production? %>    
<!--[if gte IE 5]>
    <%= stylesheet_link_tag "application-ie", :media => "all" %>
<![endif]-->	
<!--[if lt IE 7]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
<![endif]-->
<!--[if lt IE 8]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
</head>
<h1 style="font-size:2px;">Gerber Finance Inc.</h1>
<h2 style="font-size:1px;">At Gerber, we give you the tools you need to grow.  We learn your business, assess 
the unique nature of your credit needs, deliver expedited turnaround and provide 
unfailing access to our experienced management team. The result is significant 
and consistent growth.</h2>

<body class="layout">
<div id="menu"></div>
<div id="menu_fix">
	<a href='/'><img src="/assets/Logo.png" class="logo" alt="Gerber Finance Inc." /></a>
	<div id='cssmenu'>
		<ul>
   		<li class='active '><a href='/'><span>home</span></a></li>
   		<li class='has-sub '><a href=""><span style="cursor:pointer;">about us</span></a>
      	  <ul>
         	<li><a href='/about'><span>about</span></a></li>
         	<li><a href='/history'><span>history</span></a></li>
         	<li><a href='/credit'><span>credit guidelines</span></a></li>
         	<li><a href='/profiles'><span>profiles</span></a></li>
      	  </ul>
   		</li>
   		<li><a href='/asset'><span>asset based</span></a></li>
   		<li><a href='/trade'><span>trade finance</span></a></li>
   		<li class='has-sub '><a href=""><span style="cursor:pointer;">testimonials</span></a>
      	<ul>
         	<li><a href='/current'><span>client testimonials</span></a></li>
         	<li><a href='/prior'><span>prior testimonials</span></a></li>
      	</ul>
   		</li>
   		<li class='has-sub '><a href=""><span style="cursor:pointer;">contact</span></a>
   		  <ul>	
   			<li onclick="TINY.box.show({iframe:'/contact',boxid:'frameless',width:800,height:500,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"><a><span style="cursor:pointer;">contact form</span></a></li>
			<li><%= link_to "download application", "/assets/gerber_finance_app.pdf", :target => '_blank' %></li>
		  </ul>
		</li> 
		</ul>
	</div>
</div>
	
	<div><%= yield %></div>

	<div id='footer'>
	
		<img src="/assets/gerberfinance.png" class="gerberfinance" alt="Gerber Finance Inc." />
		<h3 class="name"> &copy; 2012 Gerber Finance Inc.</h3>
		<p class="redirect"><a target="_blank"href="https://www.stuckynet-link.com/gerber/" class="redirect">client login</a>|<a href="/gerberCO"class="redirect">gerber colorado</a><p>
		
		<ul class="floatset">
			<li onclick="TINY.box.show({iframe:'/calc',boxid:'frameless',width:800,height:500,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})" class="footer_image_text1"><a class="calc" /></a>finance calculator</li>
			<li onclick="TINY.box.show({iframe:'/top10',boxid:'frameless',width:800,height:500,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})" class="footer_image_text"><a class="top10" /></a>to ask your lender</li>
   			<li onclick="TINY.box.show({iframe:'/gear',boxid:'frameless',width:800,height:500,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})" class="footer_image_text"><a class="gear" /></a>get inside your lender's head</li>
   		</ul>
   		
	</div>
</body>
</html>