<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Gerber Finance Inc.</title>
    <%= stylesheet_link_tag "application-mobile" %>
	<%= javascript_include_tag "application-mobile" %>
	<%= csrf_meta_tags %>
  </head>
 <body>
	<div><img src="/assets/Logo.png" class="logo" alt="logo"/>
	<img src="/assets/gerberfinance.png" alt="gerberfinance"/></div>
	
      <%= yield %>
      <% if mobile_device? %>
    <%= link_to "Full Site", :mobile => 0 %>
  <% else %>
    <%= link_to "Mobile Site", :mobile => 1 %>
  <% end %>
  </body>
</html>